body {
    display: grid;
}
h1 {
    margin: auto;
    margin-bottom: 1em;
}
img {
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom: 4em;
}
#end {
    float: right;
}
#container {
    margin:auto;
}
.spin {
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}